

 ul>li:hover{
  background-color: cyan;
 }

 .imgProducto{
  width: 75%;
  max-width: 80px;
 }
 .imgProductoMediano{
  width: 75%;
  max-width: 100px;
 }

 .productos-orden > article:hover{
  background-color: rgb(234, 234, 234);
 }

 .product-pedidos>li:hover{
  background-color: white;
 }